*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

section{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0px auto;
    background-image: url(images/bg-pattern-desktop.svg);
    background-repeat: repeat;
    background-size: cover;
    background-position: left; 
    padding-left: 2.5em;
}

header{
    width: 50%;
    height: 120px;
    margin-bottom: -150px;
    display: flex;
    align-items: center;
}

.box{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.texto_principal{
    position: relative;
    color: hsl(0, 36%, 70%);
    padding-right: 6em;
}

h1{
    color: hsl(0, 6%, 24%);
    text-transform: uppercase;
    font-size: 70px;
    letter-spacing: 16px;
}

h1::before{
    content: " we ' re ";
    display: block;
    color: hsl(0, 36%, 70%);
}

p{
    font-size: 17.6px;
    margin-top: 2em;
}

.formulario {
    margin-top: 2.5em;
    height: 4em;
    display: flex;
    flex-direction: row;
}

.formulario input{
    width: 90%;
    height: 100%;
    border: 0.1px solid hsl(0, 80%, 86%);
    border-radius: 50px;
    padding-left: 1.5em;
    outline: none;
}

::-webkit-input-placeholder {
    color: hsl(0, 36%, 70%);;
 }
 
.formulario button{
    outline: none;
    cursor: pointer;
    position: relative;
    margin-left: -7em;
    border-radius: 50px;
    border: none;
    height: 100%;
    width: 7em;
    background: linear-gradient(to right,hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

.formulario .error{
    position: relative;
    margin-left: -7em;
    border: none;
    height: 100%;
    width: 8em;
    display: flex;
    align-items: center;
}

.formulario input:focus{
    border-color: hsl(0, 93%, 68%);
}

button:hover{
    box-shadow: -5px 5px 30px gray;
}

.error #erro{
    width: 20px;
    height: 20px;
}

.img_erro{
    display: none;
}

.texto_erro{
    position: relative;
    margin: -25px 26px; 
    display: none; 
}

.texto_erro p {
    font-size: 14px;
    color: hsl(0, 93%, 68%);
}


.foto .imagem2{
    display: none;
}

.invalidMail{
    display: block;
}

@media (max-width: 765px){
    .box{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 10px;
        justify-content: center;
        align-items: center;
    }

    .foto .imagem{
        display: none;
    }

    .foto .imagem2{
        display: block;
    }

    section{
        display: flex;
        flex-direction: column;
        width: 100vw;
    }

    header{
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        margin: 10px 0px;
        padding-left: 2.5em;
    }

    .texto_principal{
        text-align: center;
        padding: 1em;
        margin-top: 2em;
    }

    h1{
        text-transform: uppercase;
        font-size: 40px;
        letter-spacing: 5px;
    }

    p{
        font-size: 16px;
        margin-top: 2em;
    }

    .formulario input{
        width: 100%;
    }

    section{
        padding-left: 0;
    }

    .texto_erro{
        margin-top: -1.5em;
        margin-left: -6em;
    }
} 



